<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 地图查点 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %} 
{% if request.user.is_authenticated %}

<div id="container"></div>
<div class="input-card" style='width:28rem;'>
    <label style='color:grey'>逆地理编码，根据经纬度获取地址信息</label>
    <div class="input-item">
        <div class="input-item-prepend"><span class="input-item-text">经纬度</span></div>
        <input id='lnglat' type="text" value='116.39,39.9'>
    </div>
    <div class="input-item">
        <div class="input-item-prepend"><span class="input-item-text" >地址</span></div>
        <input id='address' type="text" disabled>
    </div>
    <input id="regeo" type="button" class="btn" value="经纬度 -> 地址" >
</div>
<!-- 引入高德地图JS API 的入口脚本标签 -->

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=66846c795bd27ae8b59a7e18297b90c5"></script>

<script type="text/javascript">

      var map = new AMap.Map('container', {
        zoom: 15,
        center: [113.270214,23.166544]
    });

     var styleObject = {
        url: 'https://webapi.amap.com/theme/v1.3/markers/b/mark_bs.png',
        size: new AMap.Size(11, 11),
        anchor: new AMap.Pixel(6, 6)
    }

var data = [{
    lnglat: [113.270214,23.166544], //点标记位置
    name: 'guangzhou',
    id:1
},
{
    lnglat: [113.243058,23.16896], //点标记位置
    name: 'qiaodehuayuan',
    id:2
}
];
var massMarks = new AMap.MassMarks(data,{
    zIndex: 111,  // 海量点图层叠加的顺序
        opacity: 0.8,
    cursor: 'pointer',
    style: styleObject  // 设置样式对象
});


massMarks.setMap(map);

</script>

    <link rel="stylesheet" href="{% static 'css/map.css' %}">
{% else %} 请先登录 {% endif %} {% endblock content %}
