<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container""style="max-width: 1200px;">

    <!-- 导航栏商标 -->
    <a class="navbar-brand" href="{%url 'tieta:index'%}">铁塔站址信息</a>

    <!-- 导航入口 -->
    <div>
      <ul class="navbar-nav">
        <!-- 条目 -->
{% if request.user.is_authenticated %}

    <div class="nav-link">{{ request.user.username }}，你好  </div>  
    <a  style="float: right;" class="nav-link" href="{%url 'tieta:logout'%}">注销</a>
 {% else %}
          <a class="nav-link" href="{%url 'tieta:index'%}">首页</a>
          <a class="nav-link" href="{%url 'tieta:login'%}">登录</a>
          <a class="nav-link" href="{%url 'tieta:register'%}">注册</a>
{% endif %}
      </ul>
    </div>

  </div>
</nav>